<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StockFolio.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D08691990AB4FDDB716D168BF7A864D3741B478F</string>
				<key>dateExpires</key>
				<string>4/14/27</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D08691990AB4FDDB716D168BF7A864D3741B478F</string>
						<key>dateExpires</key>
						<string>4/14/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJMRCCH98M</string>
						<key>name</key>
						<string>YOUNG WOOK KIM</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D08691990AB4FDDB716D168BF7A864D3741B478F</string>
						<key>dateExpires</key>
						<string>4/14/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJMRCCH98M</string>
						<key>name</key>
						<string>YOUNG WOOK KIM</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D08691990AB4FDDB716D168BF7A864D3741B478F</string>
						<key>dateExpires</key>
						<string>4/14/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJMRCCH98M</string>
						<key>name</key>
						<string>YOUNG WOOK KIM</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SJMRCCH98M.com.kyw1984.stockfolio</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>SJMRCCH98M</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>StockFolio.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fe1196cf-90b5-41f6-8fb1-7374f71bdbfe</string>
				<key>dateExpires</key>
				<string>4/14/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.kyw1984.stockfolio</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SJMRCCH98M</string>
				<key>name</key>
				<string>YOUNG WOOK KIM</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
